---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
	<BaseLayout pageTitle={pageTitle}>
		<h2>Cuento mis cositas!</h2>
	  
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque ipsa quos expedita! Nostrum, modi! Sapiente voluptatum enim adipisci sed, magnam iusto corrupti? Commodi illo amet minima debitis eos officia quo!</p>
	  
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae omnis laborum vitae vero, perferendis inventore at fugit provident nemo quas, libero quibusdam cumque fugiat doloribus dolores. Aspernatur, iste fugiat.</p>

		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

	</BaseLayout>
	</body>
</html>
